.container {
    background-color: white;
    width: 28%;
    height: 100%;
    min-height: 100vh;
}

.sidebarHeader {
    display: flex;
    padding:0px 10px;
    /* height: 80px; */
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
.sidebarHeader h3 {
    font-size: 1.4rem;
}

.sidebarHeader button {
    background-color: #4a4e74;
    color: white;
    margin-left: 20px;
    /* padding:0 13px; */
    width: 26px;
    height: 26px;
    border: none;
    cursor: pointer;
}

.title {
    color: #4a4e74;
    padding: 10px 6px;
    cursor: pointer;
    font-size: 0.7rem;
}
.title.selectedNote {
    color: white;
    background-color: #4a4e74;
    font-size: 1rem;

}
